<h1>Appearance information</h1>
<h2>Guest: <%=@appearance.guest.name%></h2>
<h3>Date of episode: <%=@appearance.episode.date%></h2>
<h3>Rating: <%=@appearance.rating%></h3>
<h3>Producer: <%=@appearance.user.username%>

<%=link_to "Edit this page", edit_appearance_path%>
